[submodule "CreditVault/lib/forge-std"]
	path = CreditVault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "CreditVault/lib/openzeppelin-contracts"]
	path = CreditVault/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
